# 20. 아파트 매매가격대비 전세가격비율
- iloc[1]

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.preprocessing import MinMaxScaler

# 맥에서 글씨 깨짐 방지
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [44]:
df = pd.read_excel('../data/added_features/아파트 매매가격대비 전세가격비율_20240715.xlsx')

In [45]:
df

,지역명,1998-12-01 09:00:52,1999-01-01 09:00:52,1999-02-01 09:00:52,1999-03-01 09:00:52,1999-04-01 09:00:52,1999-05-01 09:00:52,1999-06-01 09:00:52,1999-07-01 09:00:52,1999-08-01 09:00:52,...,2023-09-01 09:00:52,2023-10-01 09:00:52,2023-11-01 09:00:52,2023-12-01 09:00:52,2024-01-01 09:00:52,2024-02-01 09:00:52,2024-03-01 09:00:52,2024-04-01 09:00:52,2024-05-01 09:00:52,2024-06-01 09:00:52
0,전국,50.8236,51.6401,53.5271,54.8,55.6,56.2,56.9,57.1,57.5,...,65.843221,65.942951,66.071708,66.217664,66.380999,66.513634,66.715399,66.938686,67.085993,67.218744
1,서울,47.9196,48.7101,51.415,52.8,53.6,54.2,54.7,55.1,55.8,...,51.082553,51.317552,51.619703,51.917293,52.246915,52.446069,52.790891,53.196707,53.430079,53.669769
2,강북14개구,49.9,51,54.2,55.9,56.8,58,58.1,58.4,59.1,...,53.182207,53.357659,53.630237,53.893447,54.209646,54.408157,54.782380,55.256224,55.559287,55.838035
3,종로구,-,-,-,-,-,-,-,-,-,...,56.433642,56.484261,56.690855,57.058828,57.441818,57.622528,57.949135,58.175529,58.390337,58.335409
4,중구,-,-,-,-,-,-,-,-,-,...,55.293373,55.373821,55.493705,55.6954,55.959686,56.194732,56.665290,57.331073,57.716847,57.851865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,무주군,-,-,-,-,-,-,-,-,-,...,68.267974,68.028945,71.852475,71.852475,71.852475,73.388028,74.793651,74.793651,74.793651,74.793651
274,임실군,-,-,-,-,-,-,-,-,-,...,69.5102,69.5102,69.5102,69.5102,71.951676,71.951676,71.951676,72.516501,72.906788,74.705202
275,순창군,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,66.114343,66.114343,66.114343,66.114343,66.114343
276,고창군,-,-,-,-,-,-,-,-,-,...,58.861006,59.774884,59.725286,59.70362,60.828526,61.047926,60.595177,59.569535,59.627048,59.856069
277,부안군,-,-,-,-,-,-,-,-,-,...,65.44242,65.44242,65.460076,65.191903,65.117068,64.707552,64.605119,64.452414,64.342862,63.908501

In [46]:
cols = df.columns
cols = [int(str(col)[:10].replace('-', '')[:6]) for col in cols[1:]]

In [47]:
cols.insert(0, '지역명')
cols

['지역명',
 199812,
 199901,
 199902,
 199903,
 199904,
 199905,
 199906,
 199907,
 199908,
 199909,
 199910,
 199911,
 199912,
 200001,
 200002,
 200003,
 200004,
 200005,
 200006,
 200007,
 200008,
 200009,
 200010,
 200011,
 200012,
 200101,
 200102,
 200103,
 200104,
 200105,
 200106,
 200107,
 200108,
 200109,
 200110,
 200111,
 200112,
 200201,
 200202,
 200203,
 200204,
 200205,
 200206,
 200207,
 200208,
 200209,
 200210,
 200211,
 200212,
 200301,
 200302,
 200303,
 200304,
 200305,
 200306,
 200307,
 200308,
 200309,
 200310,
 200311,
 200312,
 200401,
 200402,
 200403,
 200404,
 200405,
 200406,
 200407,
 200408,
 200409,
 200410,
 200411,
 200412,
 200501,
 200502,
 200503,
 200504,
 200505,
 200506,
 200507,
 200508,
 200509,
 200510,
 200511,
 200512,
 200601,
 200602,
 200603,
 200604,
 200605,
 200606,
 200607,
 200608,
 200609,
 200610,
 200611,
 200612,
 200701,
 200702,
 200703,
 200704,
 200705,
 200706,
 200707,
 200708,
 200709,
 200710,
 200711,
 200712,
 200801,
 200802,
 200803,
 200804,
 200805,
 200806,
 200807,
 200808,
 200809,
 200810,
 200811,
 200812,
 200901,
 200902,
 200903,
 200904,
 200905,
 200906,
 200907,
 200908,
 200909,
 200910,
 200911,
 200912,
 201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112,
 201201,
 201202,
 201203,
 201204,
 201205,
 201206,
 201207,
 201208,
 201209,
 201210,
 201211,
 201212,
 201301,
 201302,
 201303,
 201304,
 201305,
 201306,
 201307,
 201308,
 201309,
 201310,
 201311,
 201312,
 201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607,
 201608,
 201609,
 201610,
 201611,
 201612,
 201701,
 201702,
 201703,
 201704,
 201705,
 201706,
 201707,
 201708,
 201709,
 201710,
 201711,
 201712,
 201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006,
 202007,
 202008,
 202009,
 202010,
 202011,
 202012,
 202101,
 202102,
 202103,
 202104,
 202105,
 202106,
 202107,
 202108,
 202109,
 202110,
 202111,
 202112,
 202201,
 202202,
 202203,
 202204,
 202205,
 202206,
 202207,
 202208,
 202209,
 202210,
 202211,
 202212,
 202301,
 202302,
 202303,
 202304,
 202305,
 202306,
 202307,
 202308,
 202309,
 202310,
 202311,
 202312,
 202401,
 202402,
 202403,
 202404,
 202405,
 202406]

In [48]:
df.columns = cols

In [49]:
df.drop(['지역명'], axis=1, inplace=True)
df

,199812,199901,199902,199903,199904,199905,199906,199907,199908,199909,...,202309,202310,202311,202312,202401,202402,202403,202404,202405,202406
0,50.8236,51.6401,53.5271,54.8,55.6,56.2,56.9,57.1,57.5,58.7,...,65.843221,65.942951,66.071708,66.217664,66.380999,66.513634,66.715399,66.938686,67.085993,67.218744
1,47.9196,48.7101,51.415,52.8,53.6,54.2,54.7,55.1,55.8,57,...,51.082553,51.317552,51.619703,51.917293,52.246915,52.446069,52.790891,53.196707,53.430079,53.669769
2,49.9,51,54.2,55.9,56.8,58,58.1,58.4,59.1,61.4,...,53.182207,53.357659,53.630237,53.893447,54.209646,54.408157,54.782380,55.256224,55.559287,55.838035
3,-,-,-,-,-,-,-,-,-,-,...,56.433642,56.484261,56.690855,57.058828,57.441818,57.622528,57.949135,58.175529,58.390337,58.335409
4,-,-,-,-,-,-,-,-,-,-,...,55.293373,55.373821,55.493705,55.6954,55.959686,56.194732,56.665290,57.331073,57.716847,57.851865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,-,-,-,-,-,-,-,-,-,-,...,68.267974,68.028945,71.852475,71.852475,71.852475,73.388028,74.793651,74.793651,74.793651,74.793651
274,-,-,-,-,-,-,-,-,-,-,...,69.5102,69.5102,69.5102,69.5102,71.951676,71.951676,71.951676,72.516501,72.906788,74.705202
275,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,66.114343,66.114343,66.114343,66.114343,66.114343
276,-,-,-,-,-,-,-,-,-,-,...,58.861006,59.774884,59.725286,59.70362,60.828526,61.047926,60.595177,59.569535,59.627048,59.856069
277,-,-,-,-,-,-,-,-,-,-,...,65.44242,65.44242,65.460076,65.191903,65.117068,64.707552,64.605119,64.452414,64.342862,63.908501

In [50]:
df = pd.DataFrame(df.iloc[1]).reset_index()
df.columns = ['년월', '매매 대비 전세가격 비율']

In [51]:
df

         년월 매매 대비 전세가격 비율
0    199812       47.9196
1    199901       48.7101
2    199902        51.415
3    199903          52.8
4    199904          53.6
..      ...           ...
302  202402     52.446069
303  202403     52.790891
304  202404     53.196707
305  202405     53.430079
306  202406     53.669769

[307 rows x 2 columns]

# 원본에 적용

In [38]:
origin_df = pd.read_csv('../data/preprocessed/19_rate_trading_price.csv')

/var/folders/zt/1l6rrzf977nbpmcz1d2j0vd40000gn/T/ipykernel_21110/1165646235.py:1: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  origin_df = pd.read_csv('../data/preprocessed/19_rate_trading_price.csv')

In [39]:
origin_df.head(10)

,시군구,번지,본번,부번,아파트명,전용면적,계약년월,계약일,층,건축년도,...,구,동,구별 지가지수,공시지가 평균,매수우위지수,건물나이,30년이상50년이하,구매력지수,거래활발지수,매매가격 지수 증감률
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201712,8,3,1987,...,강남구,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201712,22,4,1987,...,강남구,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,54.98,201712,28,5,1987,...,강남구,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201801,3,4,1987,...,강남구,개포동,75.461,7.322618e+06,118.0,31,1,46.647899,27.764117,2.459291
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201801,8,2,1987,...,강남구,개포동,75.461,7.322618e+06,118.0,31,1,46.647899,27.764117,2.459291
5,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201801,11,1,1987,...,강남구,개포동,75.461,7.322618e+06,118.0,31,1,46.647899,27.764117,2.459291
6,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201803,19,2,1987,...,강남구,개포동,76.313,7.322618e+06,103.9,31,1,44.831392,25.426767,2.180755
7,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,54.98,201804,5,5,1987,...,강남구,개포동,76.483,7.322618e+06,79.0,31,1,43.176009,10.606186,1.280568
8,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201806,28,3,1987,...,강남구,개포동,77.037,7.322618e+06,77.8,31,1,42.659752,9.905748,0.274474
9,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,54.98,201807,9,3,1987,...,강남구,개포동,77.567,7.322618e+06,84.1,31,1,44.750023,13.242790,0.218161

In [53]:
mapping = pd.Series({ym: value for ym, value in zip(df['년월'], df['매매 대비 전세가격 비율'])})

origin_df['매매 대비 전세가격 비율'] = np.nan
origin_df['매매 대비 전세가격 비율'] = origin_df['매매 대비 전세가격 비율'].fillna(origin_df['계약년월']).map(mapping)

In [54]:
origin_df

,시군구,번지,본번,부번,아파트명,전용면적,계약년월,계약일,층,건축년도,...,동,구별 지가지수,공시지가 평균,매수우위지수,건물나이,30년이상50년이하,구매력지수,거래활발지수,매매가격 지수 증감률,매매 대비 전세가격 비율
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201712,8,3,1987,...,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615,70.059000
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201712,22,4,1987,...,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615,70.059000
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,54.98,201712,28,5,1987,...,개포동,75.121,6.858562e+06,88.4,30,1,48.262095,17.693929,1.243615,70.059000
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201801,3,4,1987,...,개포동,75.461,7.322618e+06,118.0,31,1,46.647899,27.764117,2.459291,69.322000
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성,79.97,201801,8,2,1987,...,개포동,75.461,7.322618e+06,118.0,31,1,46.647899,27.764117,2.459291,69.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,서울특별시 중랑구 신내동,816,816.0,0.0,신내우디안1단지,84.65,202307,19,13,2014,...,신내동,99.019,2.963517e+06,38.0,9,0,45.212818,12.462049,-0.641286,50.938744
1128090,서울특별시 중랑구 신내동,816,816.0,0.0,신내우디안1단지,84.62,202307,25,12,2014,...,신내동,99.019,2.963517e+06,38.0,9,0,45.212818,12.462049,-0.641286,50.938744
1128091,서울특별시 중랑구 신내동,816,816.0,0.0,신내우디안1단지,101.65,202308,27,12,2014,...,신내동,99.123,2.963517e+06,46.0,9,0,45.056635,13.703570,-0.607676,50.991003
1128092,서울특별시 중랑구 신내동,816,816.0,0.0,신내우디안1단지,84.94,202309,2,18,2014,...,신내동,99.328,2.963517e+06,41.4,9,0,44.744578,17.287617,-0.225827,51.082553
1128093,서울특별시 중랑구 신내동,816,816.0,0.0,신내우디안1단지,84.65,202309,4,13,2014,...,신내동,99.328,2.963517e+06,41.4,9,0,44.744578,17.287617,-0.225827,51.082553

In [55]:
origin_df['매매 대비 전세가격 비율'].isna().sum()

0

In [56]:
origin_df.to_csv('../data/preprocessed/20_ratio_sale_deposit.csv', index=False)