# 버스 정류장 데이터 EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Load

In [2]:
bus_df = pd.read_csv('../data/bus_feature.csv')

In [4]:
print(bus_df.shape)

(12584, 6)

In [5]:
bus_df.columns

Index(['노드 ID', '정류소번호', '정류소명', 'X좌표', 'Y좌표', '정류소 타입'], dtype='object')

In [8]:
bus_df.head()

       노드 ID  정류소번호           정류소명         X좌표        Y좌표 정류소 타입
0  100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1  100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2  100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3  100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4  100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로

In [9]:
bus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12584 entries, 0 to 12583
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   노드 ID   12584 non-null  int64
 1   정류소번호   12584 non-null  int64
 2   정류소명    12584 non-null  object
 3   X좌표     12584 non-null  float64
 4   Y좌표     12584 non-null  float64
 5   정류소 타입  12584 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 590.0+ KB