In [1]:
import warnings;warnings.filterwarnings('ignore')

import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumBarunGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) # 폰트 설정
plt.rc('font', family='NanumBarunGothic')

# 1.데이터 로드

In [2]:
data_path = '../data'
train_path = f'{data_path}/new/new_train_ver3.csv'
test_path  = f'{data_path}/new/new_test_ver3.csv'

print(os.listdir(data_path))

['new', 'subway_feature.csv', 'sampled_data.csv', 'train.csv', 'test.csv', 'bus_feature.csv', 'sample_submission.csv', '.DS_Store']

In [3]:
train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)
print('Train data shape : ', train_data.shape, 'Test data shape : ', test_data.shape)

Train data shape :  (1118822, 42) Test data shape :  (9272, 41)

In [4]:
sampled_data = train_data.sample(n=20)
sampled_data.to_csv('sampled_data_ver3.csv', index=False)

In [5]:
display(train_data.columns)

Index(['본번', '부번', '아파트명', '전용면적', '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자',
       '거래유형', '부동산유형', '분양형태', 'k-관리방식', 'k-복도유형', 'k-난방방식', 'k-전체동수',
       'k-전체세대수', 'k-건설사', 'k-시행사', 'k-사용검사일-사용승인일', 'k-연면적', 'k-주거전용면적',
       'k-관리비부과면적', 'k-전용면적별세대현황(60㎡이하)', 'k-전용면적별세대현황(60㎡~85㎡이하)',
       'k-85㎡~135㎡이하', 'k-135㎡초과', 'k-등록일자', 'k-수정일자', '경비비관리형태', '세대전기계약방법',
       '청소비관리형태', '건축면적', '주차대수', '단지승인일', '좌표X', '좌표Y', '단지신청일', 'target',
       '구', '동', '계약날짜'],
      dtype='object')

In [10]:
display(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118822 entries, 0 to 1118821
Data columns (total 42 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   본번                      1118822 non-null  float64
 1   부번                      1118822 non-null  float64
 2   아파트명                    1118822 non-null  object
 3   전용면적                    1118822 non-null  float64
 4   층                       1118822 non-null  int64
 5   건축년도                    1118822 non-null  int64
 6   도로명                     1118822 non-null  object
 7   해제사유발생일                 5983 non-null     float64
 8   등기신청일자                  1118822 non-null  object
 9   거래유형                    1118822 non-null  object
 10  부동산유형                   1118822 non-null  object
 11  분양형태                    1118822 non-null  object
 12  k-관리방식                  1118822 non-null  object
 13  k-복도유형                  1118822 non-null  object
 14  k-난방방식                  1118822 non-null  object
 15  k-전체동수                  248192 non-null   float64
 16  k-전체세대수                 249259 non-null   float64
 17  k-건설사                   1118822 non-null  object
 18  k-시행사                   1118822 non-null  object
 19  k-사용검사일-사용승인일           249126 non-null   object
 20  k-연면적                   249259 non-null   float64
 21  k-주거전용면적                249214 non-null   float64
 22  k-관리비부과면적               249259 non-null   float64
 23  k-전용면적별세대현황(60㎡이하)      249214 non-null   float64
 24  k-전용면적별세대현황(60㎡~85㎡이하)  249214 non-null   float64
 25  k-85㎡~135㎡이하            249214 non-null   float64
 26  k-135㎡초과                327 non-null      float64
 27  k-등록일자                  10990 non-null    object
 28  k-수정일자                  249214 non-null   object
 29  경비비관리형태                 1118822 non-null  object
 30  세대전기계약방법                1118822 non-null  object
 31  청소비관리형태                 1118822 non-null  object
 32  건축면적                    249108 non-null   float64
 33  주차대수                    249108 non-null   float64
 34  단지승인일                   248536 non-null   object
 35  좌표X                     1118822 non-null  float64
 36  좌표Y                     1118822 non-null  float64
 37  단지신청일                   249197 non-null   object
 38  target                  1118822 non-null  float64
 39  구                       1118822 non-null  object
 40  동                       1118822 non-null  object
 41  계약날짜                    1118822 non-null  object
dtypes: float64(18), int64(2), object(22)
memory usage: 358.5+ MB

None

In [7]:
display(test_data.columns)

Index(['본번', '부번', '아파트명', '전용면적', '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자',
       '거래유형', '부동산유형', '분양형태', 'k-관리방식', 'k-복도유형', 'k-난방방식', 'k-전체동수',
       'k-전체세대수', 'k-건설사', 'k-시행사', 'k-사용검사일-사용승인일', 'k-연면적', 'k-주거전용면적',
       'k-관리비부과면적', 'k-전용면적별세대현황(60㎡이하)', 'k-전용면적별세대현황(60㎡~85㎡이하)',
       'k-85㎡~135㎡이하', 'k-135㎡초과', 'k-등록일자', 'k-수정일자', '경비비관리형태', '세대전기계약방법',
       '청소비관리형태', '건축면적', '주차대수', '단지승인일', '좌표X', '좌표Y', '단지신청일', '구', '동',
       '계약날짜'],
      dtype='object')

In [8]:
display(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9272 entries, 0 to 9271
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   본번                      9272 non-null   float64
 1   부번                      9272 non-null   float64
 2   아파트명                    9272 non-null   object
 3   전용면적                    9272 non-null   float64
 4   층                       9272 non-null   int64
 5   건축년도                    9272 non-null   int64
 6   도로명                     9272 non-null   object
 7   해제사유발생일                 212 non-null    float64
 8   등기신청일자                  9272 non-null   object
 9   거래유형                    9272 non-null   object
 10  부동산유형                   9272 non-null   object
 11  분양형태                    9272 non-null   object
 12  k-관리방식                  9272 non-null   object
 13  k-복도유형                  9272 non-null   object
 14  k-난방방식                  9272 non-null   object
 15  k-전체동수                  2695 non-null   float64
 16  k-전체세대수                 2710 non-null   float64
 17  k-건설사                   9272 non-null   object
 18  k-시행사                   9272 non-null   object
 19  k-사용검사일-사용승인일           2709 non-null   object
 20  k-연면적                   2710 non-null   float64
 21  k-주거전용면적                2710 non-null   float64
 22  k-관리비부과면적               2710 non-null   float64
 23  k-전용면적별세대현황(60㎡이하)      2710 non-null   float64
 24  k-전용면적별세대현황(60㎡~85㎡이하)  2710 non-null   float64
 25  k-85㎡~135㎡이하            2710 non-null   float64
 26  k-135㎡초과                2 non-null      float64
 27  k-등록일자                  718 non-null    object
 28  k-수정일자                  2710 non-null   object
 29  경비비관리형태                 9272 non-null   object
 30  세대전기계약방법                9272 non-null   object
 31  청소비관리형태                 9272 non-null   object
 32  건축면적                    2707 non-null   float64
 33  주차대수                    2709 non-null   float64
 34  단지승인일                   2704 non-null   object
 35  좌표X                     9272 non-null   float64
 36  좌표Y                     9272 non-null   float64
 37  단지신청일                   2710 non-null   object
 38  구                       9272 non-null   object
 39  동                       9272 non-null   object
 40  계약날짜                    9272 non-null   object
dtypes: float64(17), int64(2), object(22)
memory usage: 2.9+ MB

None

# 2.결측치 처리

## 2-1.k-전체동수

In [25]:
print(list(train_data['k-전체동수'].unique()))
print(train_data['k-전체동수'].value_counts())

[8.0, 5.0, 4.0, 124.0, 6.0, 9.0, 1.0, 14.0, nan, 34.0, 2.0, 11.0, 28.0, 15.0, 7.0, 12.0, 16.0, 3.0, 19.0, 10.0, 26.0, 20.0, 13.0, 22.0, 41.0, 40.0, 37.0, 21.0, 50.0, 23.0, 18.0, 32.0, 24.0, 31.0, 17.0, 33.0, 51.0, 44.0, 30.0, 56.0, 72.0, 84.0]
k-전체동수
10.0     19801
2.0      17162
6.0      16167
3.0      15271
4.0      13245
1.0      12348
5.0      11775
7.0      11694
9.0      10825
8.0      10644
14.0      9801
15.0      8900
11.0      8030
12.0      7722
28.0      7567
13.0      6997
19.0      6550
16.0      4667
22.0      4215
31.0      3966
32.0      3806
23.0      3198
72.0      3028
124.0     2816
56.0      2589
30.0      2584
20.0      2451
33.0      2360
44.0      2346
34.0      2187
17.0      1679
24.0      1673
18.0      1586
40.0      1496
51.0      1490
21.0      1377
50.0      1365
37.0      1008
26.0       815
41.0       507
84.0       484
Name: count, dtype: int64

In [28]:
missing_row = train_data[train_data['k-전체동수'].isna()]
for idx, (index, row) in enumerate(missing_row.iterrows()):
    print(f"{row['구']} {row['동']} {int(row['본번'])}-{int(row['부번'])}")

    if idx == 10:
        break

강남구 대치동 988-4
강남구 대치동 988-4
강남구 대치동 988-4
강남구 대치동 1025-0
강남구 대치동 1025-0
강남구 대치동 1025-0
강남구 대치동 1025-0
강남구 대치동 1025-0
강남구 개포동 189-0
강남구 개포동 189-0
강남구 개포동 189-0