In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
browser = webdriver.Chrome()

url = "https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0"
browser.get(url)

In [3]:
## 5초 동안 브라우저가 로딩될 시간을 준다.
# browser.implicitly_wait(time_to_wait=5)

table = browser.find_element(By.XPATH, "/html/body/div[3]/div[2]/div[2]/div[3]/table[1]")
print(table)

<selenium.webdriver.remote.webelement.WebElement (session="7471475ee1a6718f5494713f136252dc", element="f.E93778A230312CADC807FC2426CF412D.d.8693F875BCB04EE34A64EE456E196149.e.187")>

In [4]:
tbody = table.find_element(By.TAG_NAME, "tbody")

rows = tbody.find_elements(By.TAG_NAME, "tr")
for index, value in enumerate(rows):
    print(value.text)

1 삼성전자 85,300 1,200 +1.43% 100 5,092,225 5,969,783 55.61 24,810,196 40.03 4.15
2 SK하이닉스 188,000 8,800 +4.91% 5,000 1,368,644 728,002 54.63 4,612,601 -15.02 -15.61
3 LG에너지솔루션 379,500 3,500 +0.93% 500 888,030 234,000 4.92 174,230 71.78 6.36
4 삼성바이오로직스 817,000 5,000 +0.62% 2,500 581,492 71,174 12.01 34,503 67.80 9.12
5 삼성전자우 69,300 1,000 +1.46% 100 570,260 822,887 75.48 1,242,411 32.52 N/A



6 현대차 226,000 10,000 +4.63% 5,000 478,061 211,532 38.16 1,313,244 5.18 13.68
7 기아 106,700 4,900 +4.81% 5,000 428,981 402,044 40.32 1,998,043 4.90 20.44
8 셀트리온 179,600 900 -0.50% 1,000 391,617 218,050 23.06 314,251 49.35 5.07
9 POSCO홀딩스 401,500 3,000 +0.75% 5,000 339,553 84,571 27.29 633,300 20.00 3.18
10 NAVER 194,300 900 +0.47% 100 315,560 162,409 45.56 677,483 31.44 4.41



11 삼성SDI 442,000 14,000 +3.27% 5,000 303,939 68,765 42.22 440,735 15.48 11.48
12 LG화학 402,500 500 -0.12% 5,000 284,134 70,592 39.63 273,168 23.55 4.20
13 삼성물산 151,700 1,400 +0.93% 100 281,543 185,592 24.71 249,877 12.83 7.28
14 KB금융 69,500 2,200 +3.27% 5,000 280,440 403,511 75.54 1,013,726 6.08 8.44
15 현대모비스 244,000 3,500 +1.46% 5,000 228,518 93,655 40.19 158,559 6.71 8.73



16 신한지주 44,550 1,050 +2.41% 5,000 228,434 512,759 61.05 1,555,072 5.30 8.36
17 카카오 49,300 1,700 -3.33% 100 219,461 445,153 28.04 2,642,152 -21.66 -10.26
18 포스코퓨처엠 274,500 3,500 +1.29% 500 212,637 77,463 9.09 286,138 739.89 1.19
19 삼성생명 93,400 600 +0.65% 500 186,800 200,000 19.56 261,745 9.86 4.95
20 하나금융지주 58,300 2,700 +4.86% 5,000 170,444 292,357 70.61 1,472,705 5.02 9.01



21 메리츠금융지주 82,600 2,400 +2.99% 500 167,985 203,372 16.62 310,117 7.88 28.11
22 LG전자 94,300 400 +0.43% 5,000 154,320 163,648 29.89 286,556 23.92 3.69
23 삼성화재 302,000 500 +0.17% 500 143,072 47,375 53.63 75,467 8.40 12.73
24 한국전력 21,750 400 +1.87% 5,000 139,627 641,964 15.21 2,138,669 -2.90 -12.63
25 한미반도체 137,300 7,600 -5.24% 100 133,647 97,339 15.43 3,807,173 50.02 55.54



26 SK 179,200 3,700 +2.11% 200 131,171 73,198 24.78 133,696 -17.07 -3.67
27 LG 82,300 100 +0.12% 5,000 129,459 157,301 35.47 304,806 10.46 4.89
28 카카오뱅크 25,950 400 -1.52% 5,000 123,761 476,921 16.80 720,975 34.88 6.00
29 크래프톤 253,000 500 -0.20% 100 122,362 48,364 34.92 103,869 20.70 11.16
30 삼성에스디에스 157,200 1,600 +1.03% 500 121,638 77,378 18.52 61,359 17.54 8.22



31 한화에어로스페이스 236,000 8,000 +3.51% 5,000 119,487 50,630 35.32 1,081,271 14.62 25.60
32 KT&G 90,700 600 +0.67% 5,000 118,202 130,322 44.34 142,045 13.71 9.76
33 삼성전기 155,400 7,400 +5.00% 5,000 116,074 74,694 31.39 640,681 28.51 5.50
34 SK이노베이션 119,900 2,500 +2.13% 5,000 114,787 95,736 22.84 344,281 45.69 1.22
35 SK텔레콤 52,300 1,300 +2.55% 100 112,335 214,790 42.52 392,333 10.47 9.63



36 SK스퀘어 78,000 1,500 +1.96% 100 108,405 138,981 49.84 402,932 -8.54 -8.04
37 HD현대중공업 121,700 1,000 -0.81% 5,000 108,037 88,773 7.90 130,617 437.77 0.47
38 HMM 15,670 280 -1.76% 5,000 107,972 689,039 10.63 1,874,112 8.57 4.59
39 두산에너빌리티 16,810 310 +1.88% 5,000 107,678 640,561 17.76 2,391,005 193.22 0.78
40 기업은행 13,340 120 +0.91% 5,000 106,377 797,426 14.97 1,191,520 3.98 8.79



41 우리금융지주 14,010 250 +1.82% 5,000 105,348 751,949 41.25 1,579,710 4.13 8.30
42 고려아연 463,000 19,000 +4.28% 5,000 96,807 20,909 17.94 59,988 17.72 5.72
43 KT 36,350 300 +0.83% 5,000 93,732 257,861 45.43 408,193 9.35 6.05
44 하이브 221,000 3,000 -1.34% 500 92,051 41,652 21.00 172,836 49.07 6.58
45 S-Oil 79,700 500 -0.62% 2,500 89,728 112,583 78.75 164,435 9.79 10.83



46 포스코인터내셔널 50,400 300 +0.60% 5,000 88,665 175,923 6.94 338,002 13.15 13.36
47 HD한국조선해양 121,000 1,300 +1.09% 5,000 85,635 70,773 26.84 211,521 38.62 2.26
48 에코프로머티 119,100 400 +0.34% 500 82,161 68,985 2.67 599,336 1,401.18 0.91
49 한화오션 25,850 1,900 -6.85% 5,000 79,194 306,359 16.99 4,540,621 34.15 6.33
50 대한항공 21,250 250 -1.16% 5,000 78,247 368,221 16.68 948,266 7.40 11.46