# 간단한 모델 생성
- XGB
- LGBM
- 'X,Y + 버스 + 지하철' 전처리된 데이터 사용
- 전처리 안 된 feature는 일단 삭제

In [2]:
!pip install lightgbm

Collecting lightgbm
  Obtaining dependency information for lightgbm from https://files.pythonhosted.org/packages/f2/3d/4f152cf694aec100ab63b4a5547f2dbfbea59ab39d9375c89bed9775e47d/lightgbm-4.4.0-py3-none-manylinux_2_28_x86_64.whl.metadata
  Downloading lightgbm-4.4.0-py3-none-manylinux_2_28_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.10/site-packages (from lightgbm) (1.23.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from lightgbm) (1.11.3)
Downloading lightgbm-4.4.0-py3-none-manylinux_2_28_x86_64.whl (3.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.6/3.6 MB 13.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: lightgbm
Successfully installed lightgbm-4.4.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [90]:
!pip install joblib

Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (1.3.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm
import gc

from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.metrics import mean_squared_error

import lightgbm as lgb

import joblib

# 맥에서 글씨 깨짐 방지
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

# Data Load

In [57]:
df = pd.read_csv('../data/28_target_outlier.csv')

/tmp/ipykernel_472052/1477215302.py:1: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/28_target_outlier.csv')

In [58]:
df.shape

(1128094, 103)

In [59]:
# 일부 feature 제거 - 기준은 내마음대로

df.drop(['해제사유발생일', '등기신청일자', '거래유형', '중개사소재지', 'k-단지분류(아파트,주상복합등등)', 'k-전화번호',
         'k-팩스번호', '단지소개기존clob', 'k-세대타입(분양형태)', 'k-복도유형', 'k-난방방식', 'k-전체동수', 'k-전체세대수',
         'k-사용검사일-사용승인일', 'k-관리비부과면적', 'k-전용면적별세대현황(60이하)', 'k-전용면적별세대현황(60~85이하)',
         'k-85~135이하', 'k-135초과', 'k-홈페이지', 'k-등록일자', 'k-수정일자', '고용보험관리번호', '경비비관리형태',
         '기타/의무/임대/임의=1/2/3/4', '단지승인일', '사용허가여부', '관리비 업로드', '단지신청일'], axis=1, inplace=True)

In [60]:
df.shape

(1128094, 74)

In [61]:
df.columns

Index(['시군구', '번지', '본번', '부번', '아파트명', '전용면적', '계약년월', '계약일', '층', '건축년도',
       '도로명', 'k-관리방식', 'k-건설사(시공사)', 'k-시행사', 'k-연면적', 'k-주거전용면적', '세대전기계약방법',
       '청소비관리형태', '건축면적', '주차대수', '좌표X', '좌표Y', 'target', 'is_test', '시군구 번지',
       '좌표X,좌표Y', '가장 가까운 거리', 'index', '역사_ID', '역사명', '호선', '위도', '경도',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '가장 가까운 버스 정류장 index',
       '가장 가까운 버스 정류장 노드 ID', '가장 가까운 버스 정류소번호', '가장 가까운 버스 정류소명',
       '가장 가까운 버스 정류소 타입', '가장 가까운 버스 정류장 X좌표', '가장 가까운 버스 정류장 Y좌표',
       '인근 버스 정류장 개수', '계약년', '계약월', 'GDP', '한국은행 기준금리', '기대 인플레이션', '지가지수',
       '아파트 인허가', '미분양', '거래량', '건설사 랭킹', '구', '동', '구별 지가지수', '공시지가 평균',
       '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수', '매매가격 지수 증감률',
       '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리', '건설사 카테고리',
       '가장 가까운 다리와의 거리', '가장 가까운 다리 index', '가장 가까운 다리', '인근 한강다리 개수',
       '인근 다리 개수 1개이상 3개 이하', '학군'],
      dtype='object')

In [62]:
# 추가로 제거가 필요한 feature 제거
df.drop(['시군구', '번지', '본번', '부번', '아파트명', '도로명', 'k-관리방식', 'k-건설사(시공사)', 'k-시행사', 'k-연면적', 'k-주거전용면적',
         '세대전기계약방법', '청소비관리형태', '건축면적', '주차대수', '시군구 번지', '좌표X,좌표Y', 'index', '역사_ID', '역사명', '위도', '경도',
         '가장 가까운 버스 정류장 index', '가장 가까운 버스 정류장 노드 ID', '가장 가까운 버스 정류소번호', '가장 가까운 버스 정류소명',
         '가장 가까운 버스 정류소 타입', '가장 가까운 버스 정류장 X좌표', '가장 가까운 버스 정류장 Y좌표', '동', 
         '가장 가까운 다리 index','가장 가까운 다리', '구', '호선'], axis=1, inplace=True)

In [63]:
df.columns

Index(['전용면적', '계약년월', '계약일', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test',
       '가장 가까운 거리', '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년',
       '계약월', 'GDP', '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량',
       '건설사 랭킹', '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수',
       '거래활발지수', '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리',
       '구 카테고리', '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수',
       '인근 다리 개수 1개이상 3개 이하', '학군'],
      dtype='object')

In [64]:
df.shape

(1128094, 40)

In [65]:
print(df.shape)
df.head(10)

(1128094, 40)

,전용면적,계약년월,계약일,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,...,매매가격 지수 증감률,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군
0,79.97,201712,8,3,1987,127.05721,37.476763,124000.0,0,1127.738351,...,1.243615,70.0590,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
1,79.97,201712,22,4,1987,127.05721,37.476763,123500.0,0,1127.738351,...,1.243615,70.0590,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
2,54.98,201712,28,5,1987,127.05721,37.476763,91500.0,0,1127.738351,...,1.243615,70.0590,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
3,79.97,201801,3,4,1987,127.05721,37.476763,130000.0,0,1127.738351,...,2.459291,69.3220,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
4,79.97,201801,8,2,1987,127.05721,37.476763,117000.0,0,1127.738351,...,2.459291,69.3220,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
5,79.97,201801,11,1,1987,127.05721,37.476763,130000.0,0,1127.738351,...,2.459291,69.3220,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
6,79.97,201803,19,2,1987,127.05721,37.476763,139500.0,0,1127.738351,...,2.180755,67.1875,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
7,54.98,201804,5,5,1987,127.05721,37.476763,107500.0,0,1127.738351,...,1.280568,66.2450,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
8,79.97,201806,28,3,1987,127.05721,37.476763,145000.0,0,1127.738351,...,0.274474,65.3984,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
9,54.98,201807,9,3,1987,127.05721,37.476763,112000.0,0,1127.738351,...,0.218161,64.8121,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0

In [66]:
# 계약월 변수 생성

df['계약월'] = df['계약년월'].astype(str).str[4:].astype(int)
df

,전용면적,계약년월,계약일,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,...,매매가격 지수 증감률,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군
0,79.97,201712,8,3,1987,127.05721,37.476763,124000.0,0,1127.738351,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
1,79.97,201712,22,4,1987,127.05721,37.476763,123500.0,0,1127.738351,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
2,54.98,201712,28,5,1987,127.05721,37.476763,91500.0,0,1127.738351,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
3,79.97,201801,3,4,1987,127.05721,37.476763,130000.0,0,1127.738351,...,2.459291,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
4,79.97,201801,8,2,1987,127.05721,37.476763,117000.0,0,1127.738351,...,2.459291,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,84.65,202307,19,13,2014,127.10672,37.618870,NaN,1,732.482898,...,-0.641286,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128090,84.62,202307,25,12,2014,127.10672,37.618870,NaN,1,732.482898,...,-0.641286,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128091,101.65,202308,27,12,2014,127.10672,37.618870,NaN,1,732.482898,...,-0.607676,50.991003,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128092,84.94,202309,2,18,2014,127.10672,37.618870,NaN,1,732.482898,...,-0.225827,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128093,84.65,202309,4,13,2014,127.10672,37.618870,NaN,1,732.482898,...,-0.225827,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0

In [67]:
# 계약년월, 계약일, 건축년도, 계약년 변수 제거

df.drop(['계약년월', '계약일'], axis=1, inplace=True)
df

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,...,매매가격 지수 증감률,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군
0,79.97,3,1987,127.05721,37.476763,124000.0,0,1127.738351,2.0,61.89584,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
1,79.97,4,1987,127.05721,37.476763,123500.0,0,1127.738351,2.0,61.89584,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
2,54.98,5,1987,127.05721,37.476763,91500.0,0,1127.738351,2.0,61.89584,...,1.243615,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
3,79.97,4,1987,127.05721,37.476763,130000.0,0,1127.738351,2.0,61.89584,...,2.459291,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
4,79.97,2,1987,127.05721,37.476763,117000.0,0,1127.738351,2.0,61.89584,...,2.459291,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,84.65,13,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,-0.641286,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128090,84.62,12,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,-0.641286,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128091,101.65,12,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,-0.607676,50.991003,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128092,84.94,18,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,-0.225827,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0
1128093,84.65,13,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,-0.225827,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0

In [68]:
df['계약월_sin'] = np.sin(2 * np.pi * df['계약월'] / 12)

In [69]:
df.drop(['계약월'], axis=1, inplace=True)
df

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,...,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군,계약월_sin
0,79.97,3,1987,127.05721,37.476763,124000.0,0,1127.738351,2.0,61.89584,...,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0,-2.449294e-16
1,79.97,4,1987,127.05721,37.476763,123500.0,0,1127.738351,2.0,61.89584,...,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0,-2.449294e-16
2,54.98,5,1987,127.05721,37.476763,91500.0,0,1127.738351,2.0,61.89584,...,70.059000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0,-2.449294e-16
3,79.97,4,1987,127.05721,37.476763,130000.0,0,1127.738351,2.0,61.89584,...,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0,5.000000e-01
4,79.97,2,1987,127.05721,37.476763,117000.0,0,1127.738351,2.0,61.89584,...,69.322000,기타,분당선,강남구,기타,5581.622466,0.0,0,8.0,5.000000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,84.65,13,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0,-5.000000e-01
1128090,84.62,12,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,50.938744,기타,기타,기타,기타,5918.624352,0.0,0,1.0,-5.000000e-01
1128091,101.65,12,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,50.991003,기타,기타,기타,기타,5918.624352,0.0,0,1.0,-8.660254e-01
1128092,84.94,18,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0,-1.000000e+00
1128093,84.65,13,2014,127.10672,37.618870,NaN,1,732.482898,4.0,59.47567,...,51.082553,기타,기타,기타,기타,5918.624352,0.0,0,1.0,-1.000000e+00

In [70]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹',
       '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

In [71]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹',
       '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

# scaling

In [72]:
def scailing(col, scaler_type):
    if scaler_type == 'min_max': scaler = MinMaxScaler()
    else : scaler = StandardScaler()

    return scaler.fit_transform(df[[col]])

cols = ['전용면적', '층', '건축년도', '좌표X', '좌표Y', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량',
       '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율',
       '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하',
       '계약월_sin']

for col in cols:
    print(col)
    scaler_type = 'min_max'
    if col == '계약월_sin': scaler_type = 'standard'

    df[[col]] = scailing(col, scaler_type)

전용면적
층
건축년도
좌표X
좌표Y
가장 가까운 거리
인근 지하철 역 개수
가장 가까운 버스 정류장 거리
인근 버스 정류장 개수
계약년
GDP
한국은행 기준금리
기대 인플레이션
지가지수
아파트 인허가
미분양
거래량
구별 지가지수
공시지가 평균
매수우위지수
건물나이
구매력지수
거래활발지수
매매가격 지수 증감률
매매 대비 전세가격 비율
가장 가까운 다리와의 거리
인근 한강다리 개수
인근 다리 개수 1개이상 3개 이하
계약월_sin

In [73]:
df

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,...,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군,계약월_sin
0,0.168839,0.095890,0.419355,0.678243,0.167126,124000.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
1,0.168839,0.109589,0.419355,0.678243,0.167126,123500.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
2,0.108520,0.123288,0.419355,0.678243,0.167126,91500.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
3,0.168839,0.109589,0.419355,0.678243,0.167126,130000.0,0,0.353721,0.086957,0.101599,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200
4,0.168839,0.082192,0.419355,0.678243,0.167126,117000.0,0,0.353721,0.086957,0.101599,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,0.345867,기타,기타,기타,기타,0.370157,0.0,0.0,1.0,-0.728745
1128090,0.180063,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,0.345867,기타,기타,기타,기타,0.370157,0.0,0.0,1.0,-0.728745
1128091,0.221168,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,0.347283,기타,기타,기타,기타,0.370157,0.0,0.0,1.0,-1.245919
1128092,0.180835,0.301370,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,0.349765,기타,기타,기타,기타,0.370157,0.0,0.0,1.0,-1.435218
1128093,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,0.349765,기타,기타,기타,기타,0.370157,0.0,0.0,1.0,-1.435218

# 호선 one-hot encoding

In [281]:
ohe = OneHotEncoder(sparse=False)
ohe_re = ohe.fit_transform(df[['호선']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [21]:
df = pd.concat([df, pd.DataFrame(ohe_re, columns=[col for col in ohe.categories_[0]])], axis=1)

In [22]:
df

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,호선,인근 지하철 역 개수,...,경춘선,공항철도1호선,과천선,분당선,신림선,신분당선,신분당선(연장2),우이신설선,일산선,중앙선
0,0.168839,0.095890,0.419355,0.678243,0.167126,124000.0,0,0.353721,분당선,0.086957,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.168839,0.109589,0.419355,0.678243,0.167126,123500.0,0,0.353721,분당선,0.086957,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.108520,0.123288,0.419355,0.678243,0.167126,91500.0,0,0.353721,분당선,0.086957,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.168839,0.109589,0.419355,0.678243,0.167126,130000.0,0,0.353721,분당선,0.086957,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.168839,0.082192,0.419355,0.678243,0.167126,117000.0,0,0.353721,분당선,0.086957,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,경춘선,0.173913,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128090,0.180063,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,경춘선,0.173913,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128091,0.221168,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,경춘선,0.173913,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128092,0.180835,0.301370,0.854839,0.807949,0.728162,NaN,1,0.227756,경춘선,0.173913,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128093,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,경춘선,0.173913,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df.drop(['호선'], axis=1, inplace=True)
df

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,...,경춘선,공항철도1호선,과천선,분당선,신림선,신분당선,신분당선(연장2),우이신설선,일산선,중앙선
0,0.168839,0.095890,0.419355,0.678243,0.167126,124000.0,0,0.353721,0.086957,0.101599,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.168839,0.109589,0.419355,0.678243,0.167126,123500.0,0,0.353721,0.086957,0.101599,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.108520,0.123288,0.419355,0.678243,0.167126,91500.0,0,0.353721,0.086957,0.101599,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.168839,0.109589,0.419355,0.678243,0.167126,130000.0,0,0.353721,0.086957,0.101599,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.168839,0.082192,0.419355,0.678243,0.167126,117000.0,0,0.353721,0.086957,0.101599,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128090,0.180063,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128091,0.221168,0.219178,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128092,0.180835,0.301370,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128093,0.180135,0.232877,0.854839,0.807949,0.728162,NaN,1,0.227756,0.173913,0.097533,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '거래량', '구', '구별 지가지수', '공시지가 평균', '매수우위지수',
       '30년이상50년이하', '아파트 카테고리', '지하철 카테고리', '구 카테고리', '계약월_sin', '1호선', '2호선',
       '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선', '9호선(연장)', '경부선',
       '경원선', '경의중앙선', '경인선', '경춘선', '공항철도1호선', '과천선', '분당선', '신림선', '신분당선',
       '신분당선(연장2)', '우이신설선', '일산선', '중앙선'],
      dtype='object')

In [25]:
df.drop(['9호선(연장)', '경부선', '경의중앙선', '신분당선',
         '신림선', '신분당선(연장2)', '중앙선', '8호선',
         '우이신설선', '공항철도1호선', '경인선',
         '1호선','일산선', '과천선', '경춘선'], axis=1, inplace=True)

In [61]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '거래량', '구', '구별 지가지수', '공시지가 평균', '매수우위지수',
       '30년이상50년이하', '계약월_sin', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선',
       '9호선', '경원선', '분당선'],
      dtype='object')

# 카테고리 변수 처리
- 30년이상50년이하
- 아파트 카테고리
- 지하철 카테고리
- 구 카테고리
- 건설사 카테고리
- 인근 다리 개수 1개이상 3개 이하
- 학군

In [74]:
df.head()

,전용면적,층,건축년도,좌표X,좌표Y,target,is_test,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,...,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군,계약월_sin
0,0.168839,0.095890,0.419355,0.678243,0.167126,124000.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
1,0.168839,0.109589,0.419355,0.678243,0.167126,123500.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
2,0.108520,0.123288,0.419355,0.678243,0.167126,91500.0,0,0.353721,0.086957,0.101599,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
3,0.168839,0.109589,0.419355,0.678243,0.167126,130000.0,0,0.353721,0.086957,0.101599,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200
4,0.168839,0.082192,0.419355,0.678243,0.167126,117000.0,0,0.353721,0.086957,0.101599,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200

In [75]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹',
       '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

In [76]:
df['30년이상50년이하'] = df['30년이상50년이하'].astype('category')
df['아파트 카테고리'] = df['아파트 카테고리'].astype('category')
df['지하철 카테고리'] = df['지하철 카테고리'].astype('category')
df['구 카테고리'] = df['구 카테고리'].astype('category')
df['건설사 카테고리'] = df['건설사 카테고리'].astype('category')
df['인근 다리 개수 1개이상 3개 이하'] = df['인근 다리 개수 1개이상 3개 이하'].astype('category')
df['학군'] = df['학군'].astype('category')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128094 entries, 0 to 1128093
Data columns (total 38 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   전용면적                 1128094 non-null  float64
 1   층                    1128094 non-null  float64
 2   건축년도                 1128094 non-null  float64
 3   좌표X                  1128094 non-null  float64
 4   좌표Y                  1128094 non-null  float64
 5   target               1118822 non-null  float64
 6   is_test              1128094 non-null  int64
 7   가장 가까운 거리            1128094 non-null  float64
 8   인근 지하철 역 개수          1128094 non-null  float64
 9   가장 가까운 버스 정류장 거리     1128094 non-null  float64
 10  인근 버스 정류장 개수         1128094 non-null  float64
 11  계약년                  1128094 non-null  float64
 12  GDP                  1128094 non-null  float64
 13  한국은행 기준금리            1128094 non-null  float64
 14  기대 인플레이션             1128094 non-null  float64
 15  지가지수                 1128094 non-null  float64
 16  아파트 인허가              1128094 non-null  float64
 17  미분양                  1128094 non-null  float64
 18  거래량                  1128094 non-null  float64
 19  건설사 랭킹               1128094 non-null  float64
 20  구별 지가지수              1128094 non-null  float64
 21  공시지가 평균              1128094 non-null  float64
 22  매수우위지수               1128094 non-null  float64
 23  건물나이                 1128094 non-null  float64
 24  30년이상50년이하           1128094 non-null  category
 25  구매력지수                1128094 non-null  float64
 26  거래활발지수               1128094 non-null  float64
 27  매매가격 지수 증감률          1128094 non-null  float64
 28  매매 대비 전세가격 비율        1128094 non-null  float64
 29  아파트 카테고리             1128094 non-null  category
 30  지하철 카테고리             1128094 non-null  category
 31  구 카테고리               1128094 non-null  category
 32  건설사 카테고리             1128094 non-null  category
 33  가장 가까운 다리와의 거리       1128094 non-null  float64
 34  인근 한강다리 개수           1128094 non-null  float64
 35  인근 다리 개수 1개이상 3개 이하  1128094 non-null  category
 36  학군                   1128094 non-null  category
 37  계약월_sin              1128094 non-null  float64
dtypes: category(7), float64(30), int64(1)
memory usage: 274.3 MB

# Dataset 생성

## train, test 분할

In [92]:
df.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', 'target', 'is_test', '가장 가까운 거리',
       '인근 지하철 역 개수', '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP',
       '한국은행 기준금리', '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹',
       '구별 지가지수', '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

In [93]:
# 추가한 feature들 중 일부 제거
df_dropped = df.drop([], axis=1)

In [94]:
train_df = df_dropped[df_dropped['is_test'] == 0]
test_df = df_dropped[df_dropped['is_test'] == 1]

In [95]:
print(train_df.shape)
print(test_df.shape)

(1118822, 38)
(9272, 38)

In [96]:
train_df.drop(['is_test'], axis=1, inplace=True)
test_df.drop(['is_test'], axis=1, inplace=True)

/tmp/ipykernel_472052/1571330888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df.drop(['is_test'], axis=1, inplace=True)
/tmp/ipykernel_472052/1571330888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.drop(['is_test'], axis=1, inplace=True)

In [97]:
print(train_df.shape)
print(test_df.shape)

(1118822, 37)
(9272, 37)

In [98]:
train_X = train_df.drop(['target'], axis=1)
train_y = train_df[['target']]

In [99]:
train_X

,전용면적,층,건축년도,좌표X,좌표Y,가장 가까운 거리,인근 지하철 역 개수,가장 가까운 버스 정류장 거리,인근 버스 정류장 개수,계약년,...,매매 대비 전세가격 비율,아파트 카테고리,지하철 카테고리,구 카테고리,건설사 카테고리,가장 가까운 다리와의 거리,인근 한강다리 개수,인근 다리 개수 1개이상 3개 이하,학군,계약월_sin
0,0.168839,0.095890,0.419355,0.678243,0.167126,0.353721,0.086957,0.101599,0.200000,0.6250,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
1,0.168839,0.109589,0.419355,0.678243,0.167126,0.353721,0.086957,0.101599,0.200000,0.6250,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
2,0.108520,0.123288,0.419355,0.678243,0.167126,0.353721,0.086957,0.101599,0.200000,0.6250,...,0.864178,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,-0.022272
3,0.168839,0.109589,0.419355,0.678243,0.167126,0.353721,0.086957,0.101599,0.200000,0.6875,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200
4,0.168839,0.082192,0.419355,0.678243,0.167126,0.353721,0.086957,0.101599,0.200000,0.6875,...,0.844200,기타,분당선,강남구,기타,0.347392,0.0,0.0,8.0,0.684200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,0.120492,0.205479,0.596774,0.281155,0.704836,0.326389,0.086957,0.131622,0.228571,0.0000,...,0.131260,기타,6호선,기타,현대,0.383051,0.0,0.0,2.0,-0.728745
1118818,0.120492,0.191781,0.596774,0.281155,0.704836,0.326389,0.086957,0.131622,0.228571,0.0000,...,0.127898,기타,6호선,기타,현대,0.383051,0.0,0.0,2.0,-1.245919
1118819,0.180570,0.328767,0.596774,0.281155,0.704836,0.326389,0.086957,0.131622,0.228571,0.0000,...,0.127898,기타,6호선,기타,현대,0.383051,0.0,0.0,2.0,-1.245919
1118820,0.180570,0.164384,0.596774,0.281155,0.704836,0.326389,0.086957,0.131622,0.228571,0.0000,...,0.125540,기타,6호선,기타,현대,0.383051,0.0,0.0,2.0,-1.435218
1118821,0.102438,0.123288,0.322581,0.528550,0.498531,0.160694,0.826087,0.310245,0.200000,0.0000,...,0.127220,기타,3호선,기타,기타,0.194669,0.0,0.0,5.0,0.684200

In [100]:
train_X.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', '가장 가까운 거리', '인근 지하철 역 개수',
       '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP', '한국은행 기준금리',
       '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹', '구별 지가지수',
       '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

In [101]:
train_y

           target
0        124000.0
1        123500.0
2         91500.0
3        130000.0
4        117000.0
...           ...
1118817   20000.0
1118818   20000.0
1118819   28000.0
1118820   29000.0
1118821   13250.0

[1118822 rows x 1 columns]

## train, valid 분할

In [102]:
train_X, valid_X, train_y, valid_y = train_test_split(train_X, train_y, train_size=0.95, test_size=0.05, random_state=74)

print(train_X.shape, train_y.shape)
print(valid_X.shape, valid_y.shape)

(1062880, 36) (1062880, 1)
(55942, 36) (55942, 1)

In [103]:
train_X.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', '가장 가까운 거리', '인근 지하철 역 개수',
       '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP', '한국은행 기준금리',
       '기대 인플레이션', '지가지수', '아파트 인허가', '미분양', '거래량', '건설사 랭킹', '구별 지가지수',
       '공시지가 평균', '매수우위지수', '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수',
       '매매가격 지수 증감률', '매매 대비 전세가격 비율', '아파트 카테고리', '지하철 카테고리', '구 카테고리',
       '건설사 카테고리', '가장 가까운 다리와의 거리', '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군',
       '계약월_sin'],
      dtype='object')

# model

In [104]:
params = {
    'n_estimators': 100000,
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'rmse',
    'metric_freq': 20,
    'device': 'gpu',
    'verbosity': 0
}

model = lgb.LGBMRegressor(n_estimators=100000,
                          metric='rmse', data_sample_strategy='goss'
                          )

model.fit(
    train_X, train_y,
    eval_set = [(train_X, train_y), (valid_X, valid_y)],
    eval_metric='rmse',
    callbacks=[lgb.early_stopping(stopping_rounds=60),
               lgb.log_evaluation(period=10, show_stdv=True)]
)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.037846 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 4034
[LightGBM] [Info] Number of data points in the train set: 1062880, number of used features: 36
[LightGBM] [Info] Using GOSS
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Start training from score 58121.472893
Training until validation scores don't improve for 60 rounds
[10]	training's rmse: 27451.4	valid_1's rmse: 27624.7
[20]	training's rmse: 21237.2	valid_1's rmse: 21199.2
[30]	training's rmse: 18686.2	valid_1's rmse: 18626.4
[40]	training's rmse: 17330.6	valid_1's rmse: 17297.5
[50]	training's rmse: 16542.5	valid_1's rmse: 16538.7
[60]	training's rmse: 15952.7	valid_1's rmse: 15995.4
[70]	training's rmse: 15530.9	valid_1's rmse: 15595.6
[80]	training's rmse: 15185.3	valid_1's rmse: 15281
[90]	training's rmse: 14892.1	valid_1's rmse: 15006.5
[100]	training's rmse: 14622.5	valid_1's rmse: 14755.4
[110]	training's rmse: 14408.6	valid_1's rmse: 14544.8
[120]	training's rmse: 14200.9	valid_1's rmse: 14354.3
[130]	training's rmse: 14012.6	valid_1's rmse: 14186.3
[140]	training's rmse: 13853.5	valid_1's rmse: 14031.1
[150]	training's rmse: 13693.4	valid_1's rmse: 13885.4
[160]	training's rmse: 13532.2	valid_1's rmse: 13743.8
[170]	training's rmse: 13405.3	valid_1's rmse: 13623.5
[180]	training's rmse: 13286.9	valid_1's rmse: 13537.9
[190]	training's rmse: 13179.3	valid_1's rmse: 13444.4
[200]	training's rmse: 13080.5	valid_1's rmse: 13361.1
[210]	training's rmse: 12972.7	valid_1's rmse: 13274.9
[220]	training's rmse: 12888.2	valid_1's rmse: 13196.3
[230]	training's rmse: 12799.9	valid_1's rmse: 13124.2
[240]	training's rmse: 12718.9	valid_1's rmse: 13058
[250]	training's rmse: 12637.7	valid_1's rmse: 12989.9
[260]	training's rmse: 12566.9	valid_1's rmse: 12938.7
[270]	training's rmse: 12498.9	valid_1's rmse: 12878.7
[280]	training's rmse: 12423.9	valid_1's rmse: 12816
[290]	training's rmse: 12353.5	valid_1's rmse: 12760.9
[300]	training's rmse: 12292.6	valid_1's rmse: 12709
[310]	training's rmse: 12228	valid_1's rmse: 12656.7
[320]	training's rmse: 12162.7	valid_1's rmse: 12601.7
[330]	training's rmse: 12107.3	valid_1's rmse: 12567.2
[340]	training's rmse: 12051.8	valid_1's rmse: 12521.7
[350]	training's rmse: 11997.3	valid_1's rmse: 12484.3
[360]	training's rmse: 11953.1	valid_1's rmse: 12451.9
[370]	training's rmse: 11909	valid_1's rmse: 12422.9
[380]	training's rmse: 11860	valid_1's rmse: 12389.7
[390]	training's rmse: 11819.8	valid_1's rmse: 12364.3
[400]	training's rmse: 11771	valid_1's rmse: 12328.9
[410]	training's rmse: 11726.5	valid_1's rmse: 12298
[420]	training's rmse: 11683.4	valid_1's rmse: 12257.4
[430]	training's rmse: 11642	valid_1's rmse: 12220.6
[440]	training's rmse: 11598.7	valid_1's rmse: 12185
[450]	training's rmse: 11561.6	valid_1's rmse: 12164.9
[460]	training's rmse: 11521.7	valid_1's rmse: 12136
[470]	training's rmse: 11486.2	valid_1's rmse: 12110.8
[480]	training's rmse: 11451.9	valid_1's rmse: 12081.7
[490]	training's rmse: 11415.6	valid_1's rmse: 12053.6
[500]	training's rmse: 11382.1	valid_1's rmse: 12028
[510]	training's rmse: 11349.4	valid_1's rmse: 12004.1
[520]	training's rmse: 11312.6	valid_1's rmse: 11975.5
[530]	training's rmse: 11279.5	valid_1's rmse: 11953.5
[540]	training's rmse: 11246	valid_1's rmse: 11932.9
[550]	training's rmse: 11211.3	valid_1's rmse: 11901.3
[560]	training's rmse: 11176.6	valid_1's rmse: 11867
[570]	training's rmse: 11152.5	valid_1's rmse: 11852.3
[580]	training's rmse: 11118.6	valid_1's rmse: 11835.9
[590]	training's rmse: 11092.6	valid_1's rmse: 11812.9
[600]	training's rmse: 11065	valid_1's rmse: 11794.5
[610]	training's rmse: 11031.6	valid_1's rmse: 11769.6
[620]	training's rmse: 11004.8	valid_1's rmse: 11749.4
[630]	training's rmse: 10973.4	valid_1's rmse: 11724.8
[640]	training's rmse: 10948.7	valid_1's rmse: 11708
[650]	training's rmse: 10921	valid_1's rmse: 11684.2
[660]	training's rmse: 10895.2	valid_1's rmse: 11669.5
[670]	training's rmse: 10866.2	valid_1's rmse: 11648.9
[680]	training's rmse: 10835.8	valid_1's rmse: 11623.5
[690]	training's rmse: 10812.4	valid_1's rmse: 11608.6
[700]	training's rmse: 10787.3	valid_1's rmse: 11591.7
[710]	training's rmse: 10763.1	valid_1's rmse: 11583.4
[720]	training's rmse: 10736.5	valid_1's rmse: 11562.6
[730]	training's rmse: 10718.2	valid_1's rmse: 11550.3
[740]	training's rmse: 10696.8	valid_1's rmse: 11540.2
[750]	training's rmse: 10674.3	valid_1's rmse: 11529.6
[760]	training's rmse: 10647	valid_1's rmse: 11511.6
[770]	training's rmse: 10623.9	valid_1's rmse: 11493.9
[780]	training's rmse: 10605.1	valid_1's rmse: 11480.5
[790]	training's rmse: 10580.1	valid_1's rmse: 11458.5
[800]	training's rmse: 10560.5	valid_1's rmse: 11445.1
[810]	training's rmse: 10539.9	valid_1's rmse: 11432.4
[820]	training's rmse: 10516.8	valid_1's rmse: 11423
[830]	training's rmse: 10499.1	valid_1's rmse: 11412.4
[840]	training's rmse: 10477.8	valid_1's rmse: 11394.1
[850]	training's rmse: 10461.3	valid_1's rmse: 11386.3
[860]	training's rmse: 10443	valid_1's rmse: 11379.5
[870]	training's rmse: 10422.8	valid_1's rmse: 11365.2
[880]	training's rmse: 10405.5	valid_1's rmse: 11354.7
[890]	training's rmse: 10381.8	valid_1's rmse: 11337.6
[900]	training's rmse: 10363.3	valid_1's rmse: 11325
[910]	training's rmse: 10341.5	valid_1's rmse: 11316.5
[920]	training's rmse: 10324.1	valid_1's rmse: 11307.3
[930]	training's rmse: 10309.8	valid_1's rmse: 11301.5
[940]	training's rmse: 10289.5	valid_1's rmse: 11289.6
[950]	training's rmse: 10270.4	valid_1's rmse: 11279
[960]	training's rmse: 10253.8	valid_1's rmse: 11267.1
[970]	training's rmse: 10239.3	valid_1's rmse: 11258.8
[980]	training's rmse: 10221.5	valid_1's rmse: 11245.1
[990]	training's rmse: 10205.3	valid_1's rmse: 11236.3
[1000]	training's rmse: 10186.8	valid_1's rmse: 11223.4
[1010]	training's rmse: 10173.6	valid_1's rmse: 11217.9
[1020]	training's rmse: 10157.8	valid_1's rmse: 11211.6
[1030]	training's rmse: 10145.5	valid_1's rmse: 11205.3
[1040]	training's rmse: 10126.2	valid_1's rmse: 11190.5
[1050]	training's rmse: 10110.2	valid_1's rmse: 11185.4
[1060]	training's rmse: 10090.5	valid_1's rmse: 11176.7
[1070]	training's rmse: 10072.8	valid_1's rmse: 11164.7
[1080]	training's rmse: 10056.5	valid_1's rmse: 11153.7
[1090]	training's rmse: 10039.4	valid_1's rmse: 11143.3
[1100]	training's rmse: 10025.7	valid_1's rmse: 11134.9
[1110]	training's rmse: 10011.3	valid_1's rmse: 11121.7
[1120]	training's rmse: 9999.3	valid_1's rmse: 11112.5
[1130]	training's rmse: 9982.67	valid_1's rmse: 11104.1
[1140]	training's rmse: 9966.6	valid_1's rmse: 11090.9
[1150]	training's rmse: 9953.01	valid_1's rmse: 11081.3
[1160]	training's rmse: 9938.71	valid_1's rmse: 11075.5
[1170]	training's rmse: 9924.63	valid_1's rmse: 11067.3
[1180]	training's rmse: 9910.26	valid_1's rmse: 11060.6
[1190]	training's rmse: 9893.82	valid_1's rmse: 11050.5
[1200]	training's rmse: 9881.04	valid_1's rmse: 11044.7
[1210]	training's rmse: 9866.93	valid_1's rmse: 11037.1
[1220]	training's rmse: 9851.75	valid_1's rmse: 11026.9
[1230]	training's rmse: 9835.06	valid_1's rmse: 11021.2
[1240]	training's rmse: 9817.78	valid_1's rmse: 11014.7
[1250]	training's rmse: 9806.02	valid_1's rmse: 11006.8
[1260]	training's rmse: 9791.02	valid_1's rmse: 10998.3
[1270]	training's rmse: 9777.7	valid_1's rmse: 10990.4
[1280]	training's rmse: 9764.15	valid_1's rmse: 10980.5
[1290]	training's rmse: 9752.8	valid_1's rmse: 10972.9
[1300]	training's rmse: 9740.59	valid_1's rmse: 10967.6
[1310]	training's rmse: 9728.17	valid_1's rmse: 10960.9
[1320]	training's rmse: 9712.86	valid_1's rmse: 10954.9
[1330]	training's rmse: 9700.2	valid_1's rmse: 10947.8
[1340]	training's rmse: 9689.49	valid_1's rmse: 10945.3
[1350]	training's rmse: 9675.75	valid_1's rmse: 10936.8
[1360]	training's rmse: 9662.73	valid_1's rmse: 10931.1
[1370]	training's rmse: 9650.47	valid_1's rmse: 10921.5
[1380]	training's rmse: 9640.91	valid_1's rmse: 10917.4
[1390]	training's rmse: 9630.37	valid_1's rmse: 10913.5
[1400]	training's rmse: 9618.54	valid_1's rmse: 10907.5
[1410]	training's rmse: 9606.7	valid_1's rmse: 10904.4
[1420]	training's rmse: 9597.11	valid_1's rmse: 10898
[1430]	training's rmse: 9585.08	valid_1's rmse: 10891.8
[1440]	training's rmse: 9573.78	valid_1's rmse: 10883.8
[1450]	training's rmse: 9561.45	valid_1's rmse: 10882.2
[1460]	training's rmse: 9550.76	valid_1's rmse: 10879.9
[1470]	training's rmse: 9541.13	valid_1's rmse: 10872.8
[1480]	training's rmse: 9528.6	valid_1's rmse: 10864.9
[1490]	training's rmse: 9518.76	valid_1's rmse: 10860.6
[1500]	training's rmse: 9507.11	valid_1's rmse: 10857.4
[1510]	training's rmse: 9498.1	valid_1's rmse: 10850.9
[1520]	training's rmse: 9489.65	valid_1's rmse: 10845.4
[1530]	training's rmse: 9479.28	valid_1's rmse: 10841.5
[1540]	training's rmse: 9469.61	valid_1's rmse: 10835.4
[1550]	training's rmse: 9459.25	valid_1's rmse: 10834.5
[1560]	training's rmse: 9450.93	valid_1's rmse: 10831.5
[1570]	training's rmse: 9439.21	valid_1's rmse: 10825
[1580]	training's rmse: 9429.32	valid_1's rmse: 10819.5
[1590]	training's rmse: 9419.61	valid_1's rmse: 10812.4
[1600]	training's rmse: 9410.92	valid_1's rmse: 10807.2
[1610]	training's rmse: 9401.19	valid_1's rmse: 10800.9
[1620]	training's rmse: 9393.11	valid_1's rmse: 10797.5
[1630]	training's rmse: 9384.63	valid_1's rmse: 10794
[1640]	training's rmse: 9374.78	valid_1's rmse: 10791.9
[1650]	training's rmse: 9365.01	valid_1's rmse: 10784.7
[1660]	training's rmse: 9355.89	valid_1's rmse: 10777.2
[1670]	training's rmse: 9347.16	valid_1's rmse: 10772.8
[1680]	training's rmse: 9338.81	valid_1's rmse: 10771.8
[1690]	training's rmse: 9330.21	valid_1's rmse: 10767.1
[1700]	training's rmse: 9320.65	valid_1's rmse: 10765
[1710]	training's rmse: 9311.15	valid_1's rmse: 10759.2
[1720]	training's rmse: 9302.36	valid_1's rmse: 10751.4
[1730]	training's rmse: 9292.8	valid_1's rmse: 10744.7
[1740]	training's rmse: 9284.06	valid_1's rmse: 10740.1
[1750]	training's rmse: 9274.95	valid_1's rmse: 10734.9
[1760]	training's rmse: 9266.78	valid_1's rmse: 10733.9
[1770]	training's rmse: 9259.05	valid_1's rmse: 10728.8
[1780]	training's rmse: 9252.28	valid_1's rmse: 10726.5
[1790]	training's rmse: 9241.94	valid_1's rmse: 10722.1
[1800]	training's rmse: 9234.53	valid_1's rmse: 10719.6
[1810]	training's rmse: 9227.27	valid_1's rmse: 10717
[1820]	training's rmse: 9219.66	valid_1's rmse: 10712.6
[1830]	training's rmse: 9210.56	valid_1's rmse: 10708.7
[1840]	training's rmse: 9201.15	valid_1's rmse: 10702.2
[1850]	training's rmse: 9191.44	valid_1's rmse: 10701.1
[1860]	training's rmse: 9183.1	valid_1's rmse: 10695.3
[1870]	training's rmse: 9174.83	valid_1's rmse: 10692.9
[1880]	training's rmse: 9167.13	valid_1's rmse: 10688.8
[1890]	training's rmse: 9160.78	valid_1's rmse: 10685.8
[1900]	training's rmse: 9150.63	valid_1's rmse: 10683.3
[1910]	training's rmse: 9142.22	valid_1's rmse: 10678.4
[1920]	training's rmse: 9134.16	valid_1's rmse: 10675.1
[1930]	training's rmse: 9127.24	valid_1's rmse: 10673.2
[1940]	training's rmse: 9119.3	valid_1's rmse: 10670.8
[1950]	training's rmse: 9111.98	valid_1's rmse: 10667.5
[1960]	training's rmse: 9104.47	valid_1's rmse: 10664.7
[1970]	training's rmse: 9097.28	valid_1's rmse: 10662.4
[1980]	training's rmse: 9090.54	valid_1's rmse: 10661.6
[1990]	training's rmse: 9082.82	valid_1's rmse: 10659
[2000]	training's rmse: 9073.74	valid_1's rmse: 10654.1
[2010]	training's rmse: 9063.98	valid_1's rmse: 10648.4
[2020]	training's rmse: 9056.21	valid_1's rmse: 10646.5
[2030]	training's rmse: 9048.18	valid_1's rmse: 10641.4
[2040]	training's rmse: 9041.54	valid_1's rmse: 10642.2
[2050]	training's rmse: 9033.82	valid_1's rmse: 10638
[2060]	training's rmse: 9026.39	valid_1's rmse: 10634.7
[2070]	training's rmse: 9018.06	valid_1's rmse: 10629.2
[2080]	training's rmse: 9009.46	valid_1's rmse: 10624.6
[2090]	training's rmse: 9001.69	valid_1's rmse: 10619.3
[2100]	training's rmse: 8994.76	valid_1's rmse: 10614.3
[2110]	training's rmse: 8987.15	valid_1's rmse: 10610.1
[2120]	training's rmse: 8978.46	valid_1's rmse: 10604.9
[2130]	training's rmse: 8971.21	valid_1's rmse: 10601.1
[2140]	training's rmse: 8962.62	valid_1's rmse: 10598.9
[2150]	training's rmse: 8954.57	valid_1's rmse: 10597.9
[2160]	training's rmse: 8947.23	valid_1's rmse: 10593
[2170]	training's rmse: 8940.57	valid_1's rmse: 10590.3
[2180]	training's rmse: 8934.11	valid_1's rmse: 10588.6
[2190]	training's rmse: 8927.66	valid_1's rmse: 10588.9
[2200]	training's rmse: 8920.4	valid_1's rmse: 10586.8
[2210]	training's rmse: 8913.89	valid_1's rmse: 10584.5
[2220]	training's rmse: 8906.47	valid_1's rmse: 10582
[2230]	training's rmse: 8898.79	valid_1's rmse: 10578
[2240]	training's rmse: 8891.95	valid_1's rmse: 10576
[2250]	training's rmse: 8885.06	valid_1's rmse: 10572.6
[2260]	training's rmse: 8878.83	valid_1's rmse: 10570.4
[2270]	training's rmse: 8872.34	valid_1's rmse: 10569.1
[2280]	training's rmse: 8866.18	valid_1's rmse: 10567.6
[2290]	training's rmse: 8858.68	valid_1's rmse: 10565.8
[2300]	training's rmse: 8852.6	valid_1's rmse: 10562.2
[2310]	training's rmse: 8845.62	valid_1's rmse: 10557.6
[2320]	training's rmse: 8838.98	valid_1's rmse: 10554.9
[2330]	training's rmse: 8832.84	valid_1's rmse: 10552.8
[2340]	training's rmse: 8827.33	valid_1's rmse: 10551.4
[2350]	training's rmse: 8821.32	valid_1's rmse: 10548.4
[2360]	training's rmse: 8813.81	valid_1's rmse: 10545.5
[2370]	training's rmse: 8807.82	valid_1's rmse: 10543
[2380]	training's rmse: 8801.22	valid_1's rmse: 10540.3
[2390]	training's rmse: 8794.36	valid_1's rmse: 10537
[2400]	training's rmse: 8787.15	valid_1's rmse: 10533.6
[2410]	training's rmse: 8780.88	valid_1's rmse: 10530
[2420]	training's rmse: 8774.98	valid_1's rmse: 10525.1
[2430]	training's rmse: 8766.12	valid_1's rmse: 10524
[2440]	training's rmse: 8759.68	valid_1's rmse: 10519.8
[2450]	training's rmse: 8751.31	valid_1's rmse: 10518.8
[2460]	training's rmse: 8745.37	valid_1's rmse: 10516.3
[2470]	training's rmse: 8739.3	valid_1's rmse: 10514.6
[2480]	training's rmse: 8732.38	valid_1's rmse: 10512.8
[2490]	training's rmse: 8726.91	valid_1's rmse: 10508.6
[2500]	training's rmse: 8720.41	valid_1's rmse: 10504.2
[2510]	training's rmse: 8713.35	valid_1's rmse: 10500
[2520]	training's rmse: 8707.62	valid_1's rmse: 10496.2
[2530]	training's rmse: 8701.55	valid_1's rmse: 10494
[2540]	training's rmse: 8695.43	valid_1's rmse: 10490.3
[2550]	training's rmse: 8689.91	valid_1's rmse: 10486.7
[2560]	training's rmse: 8682.43	valid_1's rmse: 10483.3
[2570]	training's rmse: 8677.21	valid_1's rmse: 10482.2
[2580]	training's rmse: 8671.73	valid_1's rmse: 10479
[2590]	training's rmse: 8666.16	valid_1's rmse: 10478.5
[2600]	training's rmse: 8661.63	valid_1's rmse: 10477.3
[2610]	training's rmse: 8656.79	valid_1's rmse: 10475.1
[2620]	training's rmse: 8651.47	valid_1's rmse: 10473.9
[2630]	training's rmse: 8646.83	valid_1's rmse: 10473.4
[2640]	training's rmse: 8641.04	valid_1's rmse: 10472.1
[2650]	training's rmse: 8636.94	valid_1's rmse: 10472.2
[2660]	training's rmse: 8630.94	valid_1's rmse: 10469.2
[2670]	training's rmse: 8624.83	valid_1's rmse: 10466.6
[2680]	training's rmse: 8619.98	valid_1's rmse: 10466.4
[2690]	training's rmse: 8614.66	valid_1's rmse: 10462.7
[2700]	training's rmse: 8609.4	valid_1's rmse: 10458.9
[2710]	training's rmse: 8603.84	valid_1's rmse: 10457.5
[2720]	training's rmse: 8598.69	valid_1's rmse: 10456.6
[2730]	training's rmse: 8592.74	valid_1's rmse: 10457.8
[2740]	training's rmse: 8587.43	valid_1's rmse: 10457.7
[2750]	training's rmse: 8581.37	valid_1's rmse: 10454.2
[2760]	training's rmse: 8576.36	valid_1's rmse: 10453.1
[2770]	training's rmse: 8570.93	valid_1's rmse: 10454.2
[2780]	training's rmse: 8565.47	valid_1's rmse: 10454.8
[2790]	training's rmse: 8559.86	valid_1's rmse: 10454
[2800]	training's rmse: 8554.75	valid_1's rmse: 10453.6
[2810]	training's rmse: 8550.29	valid_1's rmse: 10452.3
[2820]	training's rmse: 8544.43	valid_1's rmse: 10450
[2830]	training's rmse: 8539.47	valid_1's rmse: 10447.2
[2840]	training's rmse: 8535.16	valid_1's rmse: 10446.9
[2850]	training's rmse: 8529.74	valid_1's rmse: 10444.6
[2860]	training's rmse: 8525.48	valid_1's rmse: 10443.4
[2870]	training's rmse: 8519.83	valid_1's rmse: 10441.6
[2880]	training's rmse: 8515.05	valid_1's rmse: 10436.9
[2890]	training's rmse: 8509.79	valid_1's rmse: 10435.9
[2900]	training's rmse: 8505.54	valid_1's rmse: 10435.7
[2910]	training's rmse: 8499.44	valid_1's rmse: 10434.7
[2920]	training's rmse: 8494.32	valid_1's rmse: 10433.8
[2930]	training's rmse: 8488.3	valid_1's rmse: 10432.7
[2940]	training's rmse: 8482.77	valid_1's rmse: 10430.2
[2950]	training's rmse: 8476.95	valid_1's rmse: 10429.3
[2960]	training's rmse: 8471.43	valid_1's rmse: 10429.3
[2970]	training's rmse: 8465.02	valid_1's rmse: 10429
[2980]	training's rmse: 8459.53	valid_1's rmse: 10428.5
[2990]	training's rmse: 8455.02	valid_1's rmse: 10427.7
[3000]	training's rmse: 8448.97	valid_1's rmse: 10425.1
[3010]	training's rmse: 8445.31	valid_1's rmse: 10423
[3020]	training's rmse: 8440.05	valid_1's rmse: 10422.7
[3030]	training's rmse: 8434.6	valid_1's rmse: 10421.1
[3040]	training's rmse: 8431.19	valid_1's rmse: 10419.8
[3050]	training's rmse: 8426	valid_1's rmse: 10418.1
[3060]	training's rmse: 8420.61	valid_1's rmse: 10416.1
[3070]	training's rmse: 8415.7	valid_1's rmse: 10414.9
[3080]	training's rmse: 8411.1	valid_1's rmse: 10411.2
[3090]	training's rmse: 8406.44	valid_1's rmse: 10410.2
[3100]	training's rmse: 8401.63	valid_1's rmse: 10408.9
[3110]	training's rmse: 8396.26	valid_1's rmse: 10402.8
[3120]	training's rmse: 8392.61	valid_1's rmse: 10400.4
[3130]	training's rmse: 8388.22	valid_1's rmse: 10399.5
[3140]	training's rmse: 8382.9	valid_1's rmse: 10399.7
[3150]	training's rmse: 8378.75	valid_1's rmse: 10398.9
[3160]	training's rmse: 8373.22	valid_1's rmse: 10397.5
[3170]	training's rmse: 8368.44	valid_1's rmse: 10395.3
[3180]	training's rmse: 8364.35	valid_1's rmse: 10394.4
[3190]	training's rmse: 8358.69	valid_1's rmse: 10393.8
[3200]	training's rmse: 8353.85	valid_1's rmse: 10392.5
[3210]	training's rmse: 8347.7	valid_1's rmse: 10392
[3220]	training's rmse: 8343.23	valid_1's rmse: 10391.7
[3230]	training's rmse: 8339.06	valid_1's rmse: 10389.9
[3240]	training's rmse: 8334.57	valid_1's rmse: 10388.2
[3250]	training's rmse: 8330.15	valid_1's rmse: 10388.4
[3260]	training's rmse: 8325.84	valid_1's rmse: 10387.1
[3270]	training's rmse: 8319.85	valid_1's rmse: 10385.6
[3280]	training's rmse: 8315.54	valid_1's rmse: 10383.3
[3290]	training's rmse: 8310.47	valid_1's rmse: 10381.9
[3300]	training's rmse: 8304.13	valid_1's rmse: 10381.6
[3310]	training's rmse: 8299.43	valid_1's rmse: 10381.5
[3320]	training's rmse: 8294.95	valid_1's rmse: 10380.6
[3330]	training's rmse: 8290.14	valid_1's rmse: 10377.8
[3340]	training's rmse: 8285.59	valid_1's rmse: 10376.6
[3350]	training's rmse: 8280.56	valid_1's rmse: 10376.1
[3360]	training's rmse: 8276.87	valid_1's rmse: 10376.4
[3370]	training's rmse: 8271.84	valid_1's rmse: 10374.2
[3380]	training's rmse: 8267.71	valid_1's rmse: 10371.6
[3390]	training's rmse: 8262.61	valid_1's rmse: 10371.2
[3400]	training's rmse: 8258.69	valid_1's rmse: 10369.6
[3410]	training's rmse: 8254.36	valid_1's rmse: 10367.1
[3420]	training's rmse: 8248.43	valid_1's rmse: 10365.1
[3430]	training's rmse: 8243.5	valid_1's rmse: 10363.7
[3440]	training's rmse: 8238.58	valid_1's rmse: 10364.5
[3450]	training's rmse: 8234.46	valid_1's rmse: 10362.2
[3460]	training's rmse: 8229.79	valid_1's rmse: 10361.2
[3470]	training's rmse: 8224.37	valid_1's rmse: 10360.7
[3480]	training's rmse: 8219.6	valid_1's rmse: 10358.4
[3490]	training's rmse: 8215.84	valid_1's rmse: 10358.8

LGBMRegressor(data_sample_strategy='goss', metric='rmse', n_estimators=100000)

In [86]:
joblib.dump(model, '../models/feature_test.pkl')

['../models/feature_test.pkl']

In [87]:
train_X.columns

Index(['전용면적', '층', '건축년도', '좌표X', '좌표Y', '가장 가까운 거리', '인근 지하철 역 개수',
       '가장 가까운 버스 정류장 거리', '인근 버스 정류장 개수', '계약년', 'GDP', '한국은행 기준금리',
       '기대 인플레이션', '아파트 인허가', '미분양', '거래량', '구별 지가지수', '공시지가 평균', '매수우위지수',
       '건물나이', '30년이상50년이하', '구매력지수', '거래활발지수', '매매가격 지수 증감률', '매매 대비 전세가격 비율',
       '아파트 카테고리', '지하철 카테고리', '구 카테고리', '건설사 카테고리', '가장 가까운 다리와의 거리',
       '인근 한강다리 개수', '인근 다리 개수 1개이상 3개 이하', '학군', '계약월_sin'],
      dtype='object')

# submission

In [40]:
test_df.drop(['target'], axis=1, inplace=True)

/tmp/ipykernel_456466/1820151961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.drop(['target'], axis=1, inplace=True)

In [41]:
test_df.drop(['구'], axis=1, inplace=True)

/tmp/ipykernel_456466/2563928711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.drop(['구'], axis=1, inplace=True)

### 예측

In [42]:
preds = model.predict(test_df)

In [43]:
preds

array([182324.3413283 , 266889.63275921, 303469.33644405, ...,
        84957.28600137,  76530.75532449,  77456.33285716])

# 결과값 처리
- float 형태에서 int 형태로 변환 (반올림 사용)
- 결과 순서를 맞춰줘야 된다. -> 기존 test 데이터에 target column을 추가하고 거기에 결과를 저장한다.
- 모든 결과를 concat하고 인덱스를 기준으로 정렬한다.

In [44]:
preds = np.round(preds).astype(int)

In [45]:
preds_df = pd.DataFrame(preds, columns=['target'])

In [46]:
preds_df

      target
0     182324
1     266890
2     303469
3     264446
4     221255
...      ...
9267   75345
9268   74363
9269   84957
9270   76531
9271   77456

[9272 rows x 1 columns]

In [47]:
preds_df

      target
0     182324
1     266890
2     303469
3     264446
4     221255
...      ...
9267   75345
9268   74363
9269   84957
9270   76531
9271   77456

[9272 rows x 1 columns]

In [48]:
preds_df.to_csv('../preds/v_27_preds.csv', index=False)